

nav{
    background-color: black;
    color:white;
    height: 80px;
}

nav > h2:hover {
    color:red;
}

nav > #login:hover{
    background-color: green;
}


nav >#logout{
    background-color: pink;
}

nav > #logout:hover{
    background-color: red;
}

nav > #logout:active{
    background-color: yellow;
}


main > ul > li:nth-child(3){
    background-color: gray;
}

main > ol > li:nth-child(2n){
    background-color: pink;
}

main > ol > li:nth-child(2n+1){
    background-color: gray;
}

main > a{
    text-decoration: none;
}

main > a:visited{
   color:violet;
}

main > a:link{
    color:blue;
}


section > p{
    text-indent: 100px;
}

/* psuedo element selector  */

section > p::first-letter{
    font-size: 50px;
    color:red;
}

section > p::first-line{
    font-style: italic;
}


section > h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    text-decoration: underline;
}


section > h1::after{
    content: "***";
    color:red;
}

section > h1::before{
    content: "~~~";
    color:blue;
}


::selection{
    background-color: green;
    color:white;
}


/* section > ul > li::marker{
    color:green;
} */



section > ul > li:nth-child(2n+1)::marker{

    color:red;
}