*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer > .inner{
    height: 400px;
    width: 600px;
    background-color: white;
    background-image: url("https://media.istockphoto.com/id/517188688/photo/mountain-landscape.jpg?s=612x612&w=0&k=20&c=A63koPKaCyIwQWOTFBRWXj_PwCrR4cEoOw2S9Q7yVl8=");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}